@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {    
    background-image: 
      url('./assets/images/bg-pattern-top.svg'),
      url('./assets/images/bg-pattern-bottom.svg');

    background-position:
      bottom 50vh right 50vw,
      top 50vh left 50vw;

    background-repeat: no-repeat;
  }
  
  a {
    @apply underline font-bold text-blue-600 hover:text-blue-800
  }
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/static/KumbhSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/static/KumbhSans-Bold.ttf');
  font-weight: 700;
}